@import "tailwindcss";
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #212121; /* Track color */
  border-radius: 9999px; /* Rounded track */
}

::-webkit-scrollbar-thumb {
  background-color: #404040; /* Thumb color */
  border-radius: 9999px; /* Rounded thumb */
  border: 3px solid #212121; /* Border around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color when hovered */
}

::-webkit-scrollbar-button {
  display: none; /* Hide the scroll buttons */
}
